main{
  display: flex;
  align-items:center;
  justify-content: center;
  background-color: #081945;
}
main::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #8319F5;
  clip-path: circle(50% at right 70%);
}

main::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #FF25C2;
  clip-path: circle(40% at 10% 10%);
}
.cartoes-pokemon{
  padding: 30px 0px;
  gap: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-around;
  position: relative;
  z-index: 1;
}
