@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}
ul{
    list-style: none;
}
